<!-- for mathjax support -->
{% if page.usemathjax %}
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
  TeX: { equationNumbers: { autoNumber: "AMS" } }
  });
</script>
<script type="text/javascript" async src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
{% endif %}

{% assign google_fonts = site.google_fonts %}
{% assign font_heading = site.font_heading %}
{% assign font         = site.font         %}

{% include        head/meta.html %}
{% include_cached head/meta-static.html %}

{% include        head/links.html lang=page.lang %}
{% include_cached head/links-static.html %}

{% include_cached head/scripts.html %}

{% include_cached head/styles.html layout=page.layout color=color theme_color=theme_color %}

{% include my-head.html %}
